.ItemContainer1 {
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    width: 32%;
    height: 300px;
    padding: 0 1rem;
    cursor: pointer;
}

.ItemContainer2 {
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    width: 32%;
    height: 500px;
    padding: 0 1rem;
    cursor: pointer;
}