.ItemContainer {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 33%;
    padding: 0 1rem;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease-out;
    cursor: pointer;
    &:hover,
    &:active {
        transform: translateY(-2px);
        box-shadow: 0 8px 26px rgba(0, 0, 0, 0.26);
    }
}